@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 850px;
    height: 1400px;
    margin: 50px auto auto;
}

img {
    width: 200px;
    height: 240px;
    margin: 50px 50px 0;
    border-radius: 5px;
}

.pjesa1 {
    width: 290px;
    height: 1200px;
    background: #283548;
    color: #fff;
    float: left;
}

.contact {
    width: 250px;
    margin: 0 25px;
    text-align: left;
}

h2 {
    margin: 48px 25px 0;
}

#viz {
    width: 242px;
    height: 1px;
    background-color: #fff;
    margin: 0 24px;
}

.adresa {
    margin: 15px 25px 0 25px;
    font-size: 16px;
    font-weight: 600;
}

p {
    margin: 2px 25px;
    font-size: 14px;
    color: aliceblue;
}

.social {
    width: 250px;
    margin: 0 25px;
}

.languages {
    width: 250px;
    margin: 0 25px;
}

.checked {
    color: orange
}

.adresa p {
    float: right;
}

.pjesa2 {
    background-color: aliceblue;
    width: 560px;
    height: 1200px;
    float: right;
}

.pjesa2 p {
    color: #283548;
}

.titulli,
h1 {
    font-size: 32px;
    font-weight: 600;
    margin: 80px 20px 0;
    letter-spacing: 1px;
}

.profesion {
    font-size: 16px;
    font-weight: 500;
    margin: 6px 20px 0;
    letter-spacing: 1px;
}


.hi {
    font-size: 14px;
    margin: 10px 40px 0;
}

span {
    font-weight: normal;
}

.experience h2 {
    margin: 30px 40px 0;
    color: #283548;
}

#black-hr {
    width: 480px;
    height: 2px;
    background-color: rgb(33, 33, 33);
    margin: 0 40px;
}

.paragraf {
    width: 500px;
    margin: 20px 40px;
}

.present {
    font-size: 15px;
    line-height: 22px;
}

.founder {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
}

.text {
    font-size: 15px;
    margin: 10px 25px 0;
    line-height: 20px;
}

ul {
    width: 470px;
    margin: 0 25px;
    font-size: 15px;
    line-height: 22px;
}

.design {
    font-size: 15px;
    line-height: 22px;
    color: #222;
}

.ict {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    margin: 5px 25px 5px;
    color: #222;
}